* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #387e96;
  color: #121214;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25.5px;

  form {
    flex: 1;
  }
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;

  border: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: white;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.likes {
  display: flex;
  gap: 1rem;
  margin: 1.6rem 0 3.2rem;
}

.likes img {
  width: 4rem;
  height: 4rem;
  padding: 8px;
  background-color: #065e7c;
  border-radius: 50%;
  padding: 12px;
}

main {
  background-color: #f4fcff;
  overflow-y: scroll;

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h1,
  p {
    font-family: Mulish;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
  }
}

article {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.2rem 2.6rem;
  gap: 3.2rem;
}

.article-card {
  display: flex;
  align-items: center;
  justify-items: center;

  gap: 1.6rem;
  margin-top: 3.2rem;
}

.article-card img {
  width: 151px;
  height: 84px;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
}

.article-title {
  flex: 1;
}

.article-title h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.article-title p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 3.2rem;
  }

  main-div {
    max-width: 30rem;
  }

  article {
    max-width: 50rem;
  }
}
