* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #f4fcff;
  color: #121214;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #387e96;

  height: 7.2rem;
  padding: 1.2rem 2.8rem;
  gap: 25.5px;

  form {
    flex: 1;
  }
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.4rem;

  border: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: white;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h1 {
    padding: 2.2rem;
    margin-top: 3.2rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
  }

  p {
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    padding: 2.2rem;
  }
}
